# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/node,macos,intellij,visualstudiocode
